!!!
%html
  %head
    %title CoffeeScript Sammyjs app
    %link{  :href => "/css/bootstrap.css", :rel => "stylesheet", :type => "text/css" }
    %link{  :href => "/css/jplayer.skin/blue.monday/jplayer.blue.monday.css", :rel => "stylesheet", :type => "text/css" }

    %script{ :src => "/js/jquery.js", :type => "text/javascript" }
    %script{ :src => "/js/haml.js", :type => "text/javascript" }
    %script{ :src => "/js/sammy.js", :type => "text/javascript" }
    %script{ :src => "/js/sammy.haml.js", :type => "text/javascript" }
    %script{ :src => "/js/coffee-script.js", :type => "text/javascript" }

    - # %script{ :src => "http://vk.com/js/api/xd_connection.js?2", :type => "text/javascript" }

    %script{ :src => "/js/jquery.jplayer.min.js", :type => "text/javascript" }
    %script{ :src => "/js/jplayer.playlist.min.js", :type => "text/javascript" }

    %script{ :src => "/coffee/player.coffee", :type => "text/coffeescript" }
    %script{ :src => "/coffee/model.coffee", :type => "text/coffeescript" }
    %script{ :src => "/coffee/app.coffee", :type => "text/coffeescript" }
    
  %body
    = yield