%b Select group

%ul
  :for group in groups
    %li
      %a(href='#/set_group?gid='+group.gid)= group.title
      &nbsp;
      (
      %a(href='#/set_group?gid='+group.gid+'&random=1') random offset
      )
 